In [ ]:
### list_comprehension(快速建立list)
- [expression for item in iterable]

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
[i*2 for i in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

- [expression for item in iterable if 條件式]

In [7]:
[i*2 for i in range(1,11) if i % 2 ==1]

[2, 6, 10, 14, 18]

### map(), filter

In [10]:
{'姓名':'曾XX', 'age':45, 'score':256}

{'姓名': '曾XX', 'age': 45, 'score': 256}

In [ ]:
#記憶體內的表格資料
students = [{'姓名':'曾XX', 'age':45, 'score':256},
            {'姓名':'張XX', 'age':42, 'score':277},
            {'姓名':'李XX', 'age':28, 'score':263}]
students

[{'姓名': '曾XX', 'age': 45, 'score': 256},
 {'姓名': '張XX', 'age': 42, 'score': 277},
 {'姓名': '李XX', 'age': 28, 'score': 263}]

In [12]:
for student in students:
    print(student)

{'姓名': '曾XX', 'age': 45, 'score': 256}
{'姓名': '張XX', 'age': 42, 'score': 277}
{'姓名': '李XX', 'age': 28, 'score': 263}