In [1]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.arange(50, 70))
s1

0     50
1     51
2     52
3     53
4     54
5     55
6     56
7     57
8     58
9     59
10    60
11    61
12    62
13    63
14    64
15    65
16    66
17    67
18    68
19    69
dtype: int64

In [8]:
#透過值的選取
#值得搜尋
#mask技巧, 要使用比較運算子得到boolean的資料
mask = s1 >= 60
mask
s1[mask]

10    60
11    61
12    62
13    63
14    64
15    65
16    66
17    67
18    68
19    69
dtype: int64

In [3]:
mask = s1 <= 60
s1[mask]

0     50
1     51
2     52
3     53
4     54
5     55
6     56
7     57
8     58
9     59
10    60
dtype: int64

In [20]:
#DataFrame
data = np.random.randint(50, 101, size=(5, 5))
df = pd.DataFrame(data, 
        index=['學生1', '學生2', '學生3','學生4', '學生5'], 
        columns = ['國文', '英文', '數學','地理','歷史'])   #程式太長，分行處理
df

     國文  英文  數學  地理   歷史
學生1  50  82  83  58   59
學生2  53  67  70  64   97
學生3  53  78  64  52   80
學生4  83  61  52  95  100
學生5  63  73  89  94   93

In [21]:
#選取歷史 >=60
df[df['歷史'] >= 60]  #只打df['歷史'] >= 60 會出現true與false的結果

     國文  英文  數學  地理   歷史
學生2  53  67  70  64   97
學生3  53  78  64  52   80
學生4  83  61  52  95  100
學生5  63  73  89  94   93

In [22]:
#選取歷史>=60,同時數學也要>=60
#位元邏輯運算子
df[(df['歷史'] >= 60) & (df['數學'] >=60)]

     國文  英文  數學  地理  歷史
學生2  53  67  70  64  97
學生3  53  78  64  52  80
學生5  63  73  89  94  93