https://www.perplexity.ai/search/541099c9-ea3f-4aaa-98b2-53af4156f3cc

In [2]:
#styler.format()
#style.forma_index()
#style.relabel_index
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [1, 3],
    "floats": [1.123, 1000.23]
})
type(df.style)

display(df)
s = df.style\
.format(precision=3, thousands=",", decimal='.')\
.format_index(str.upper,axis=1)\
.relabel_index(["列1","列2"])

s

  strings  ints    floats
0    Adam     1     1.123
1    Mike     3  1000.230

In [6]:
weather_df = pd.DataFrame(np.random.rand(600,2)*5,
                          index=pd.date_range(start="2024-01-01", periods=600),
                          columns=["東京","台北"]
                          )
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 600 entries, 2024-01-01 to 2025-08-22
Freq: D
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   東京      600 non-null    float64
 1   台北      600 non-null    float64
dtypes: float64(2)
memory usage: 14.1 KB

In [7]:
#因為索引是datetime的資料
weather_df.loc['2024-01-10':'2024-01-30']
weather_df.loc['2024-01']
weather_df.loc['2024']

                  東京        台北
2024-01-01  1.176654  1.938781
2024-01-02  2.802739  0.793241
2024-01-03  2.531721  2.051735
2024-01-04  2.299566  1.608120
2024-01-05  3.182145  3.642170
...              ...       ...
2024-12-27  1.116720  3.616636
2024-12-28  1.183135  2.642436
2024-12-29  0.841409  1.295268
2024-12-30  0.051145  3.566858
2024-12-31  3.748808  4.410605

[366 rows x 2 columns]