In [2]:
#styler.format()
#style.forma_index()
#style.relabel_index
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [1, 3],
    "floats": [1.123, 1000.23]
})
type(df.style)

display(df)
s = df.style\
.format(precision=3, thousands=",", decimal='.')\
.format_index(str.upper,axis=1)\
.relabel_index(["列1","列2"])

s

  strings  ints    floats
0    Adam     1     1.123
1    Mike     3  1000.230