https://www.perplexity.ai/search/11c131c7-b2f1-44c7-bbcc-080db58fe95e

In [5]:
import numpy as np
import pandas as pd


data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data.index.names = ('key1','key2')
data

key1  key2
a     1       0.122054
      2       0.303404
      3       1.608056
b     1      -0.643817
      2      -0.484459
c     3      -1.262264
      1      -0.568719
d     2       0.190041
      3       0.649973
dtype: float64

In [6]:
data.unstack(level = "key1")

key1         a         b         c         d
key2
1     0.122054 -0.643817 -0.568719       NaN
2     0.303404 -0.484459       NaN  0.190041
3     1.608056       NaN -1.262264  0.649973