In [3]:
import numpy as np
import pandas as pd

pd.DataFrame(np.arange(9).reshape(3, 3))

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [11]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(9).reshape(3, 3),
    index=['a', 'b', 'c'],
    columns=['台北', '台中', '高雄'])
df

   台北  台中  高雄
a   0   1   2
b   3   4   5
c   6   7   8

In [12]:
df1 = df.reindex(index=['b', 'a', 'c'])
df1

   台北  台中  高雄
b   3   4   5
a   0   1   2
c   6   7   8

In [14]:
df2 = df1.reindex(columns=['台中', '台北'])
df2

   台中  台北
b   4   3
a   1   0
c   7   6