### 自訂的dataclass

In [1]:
from dataclasses import dataclass

@dataclass
class Student:
    name:str
    chinese:int
    english:int
    math:int

In [11]:
stu1 = Student(name='robert',chinese=89, english=78, math=92)
print(type(stu1))
stu1.name, stu1.chinese, stu1.english, stu1.math

<class '__main__.Student'>

('robert', 89, 78, 92)

In [3]:
stu2 = Student(name='jenny',chinese=76, english=87, math=89)
print(type(stu2))
stu2.name, stu2.chinese, stu2.english, stu2.math

<class '__main__.Student'>

('jenny', 76, 87, 89)

In [4]:
from dataclasses import dataclass

@dataclass
class Student:
    name:str
    chinese:int
    english:int
    math:int

    @property
    def total(self)->int:
        return self.chinese + self.english + self.math

In [5]:
stu1 = Student(name='robert',chinese=89, english=78, math=92)
print(type(stu1))
print(stu1.name, stu1.chinese, stu1.english, stu1.math)
print(stu1.total)

<class '__main__.Student'>
robert 89 78 92
259

In [6]:
stu2 = Student(name='jenny',chinese=76, english=87, math=89)
print(type(stu2))
print(stu2.name, stu2.chinese, stu2.english, stu2.math)
print(stu2.total)

<class '__main__.Student'>
jenny 76 87 89
252

In [ ]:
from dataclasses import dataclass

@dataclass
class Student:
    name:str
    chinese:int
    english:int
    math:int

    @property
    def total(self)->int:
        return self.chinese + self.english + self.math
    
    def average(self)->float:
        return self.total / 3.0   #兩種寫法
        # return round(self.total / 3.0, ndigits = 2)   #可以查查round的使用說明書

In [8]:
stu1 = Student(name='robert',chinese=89, english=78, math=92)
print(type(stu1))
print(stu1.name, stu1.chinese, stu1.english, stu1.math)
print(stu1.total)
print(stu1.average())

<class '__main__.Student'>
robert 89 78 92
259
86.33

In [9]:
stu2 = Student(name='jenny',chinese=76, english=87, math=89)
print(type(stu2))
print(stu2.name, stu2.chinese, stu2.english, stu2.math)
print(stu2.total)
print(stu2.average())

<class '__main__.Student'>
jenny 76 87 89
252
84.0